

fastapi

langchain==0.3.27
langchain-community==0.3.31
langgraph==0.6.8

arxiv
langchain-groq
pymongo
uvicorn
python-jose
passlib
bcrypt==4.0.1

python-multipart
pypdf
arxiv
#pymupdf
#pydantic==1.10.2

#Local tests requirements
#langgraph-cli[inmem] #Needed for langgraph studio debugging
#




